<h1><%= @book.name %></h1>
<h4>About this book: </h4><%= simple_format @book.description %>
<h4>ISBN:</h4> <%= @book.isbn %>
<h4>Publication date: </h4> <%= @book.publication_date %>
<h4>Date added: </h4><%= @book.date_added %>
<p><%= link_to 'back to index', books_path, :class => "btn btn-primary" %></p>